<div class="bg-white p-0 min-vh-100 d-flex flex-column justify-content-between">
    <%= render "shared/navbar" %>
    <%= render "about" %>
    <%= render "shared/team" %>
    <%= render "shared/footer" %>
    <!-- <a href="#" class="btn btn-lg btn-primary back-to-top text-center"><i class="fa fa-arrow-up"></i></a> -->
</div>